name: Metrics
on:
  schedule: [{cron: "0 0 * * *"}]
  push: {branches: ["master", "main"]}
jobs:
  github-metrics:
    runs-on: ubuntu-latest
    environment: 
      name: production
    permissions:
      contents: write
    steps:
      - uses: lowlighter/metrics@latest
        with:
          token: ${{ secrets.METRICS_TOKEN }}
          config_timezone: America/Sao_Paulo
          config_presets: https://raw.githubusercontent.com/mAngelo-dev/mAngelo-dev/refs/heads/main/preset/lunar_purple.yaml
          base: header, activity, repositories
          plugin_steam_token: ${{ secrets.STEAM_WEB_API_TOKEN }}
          plugin_steam: yes
          plugin_steam_user: ${{ secrets.STEAM_ID }}
          plugin_steam_sections: recently-played
          plugin_isocalendar: no
          plugin_languages: yes
          plugin_languages_sections: recently-used
          plugin_languages_ignored: html, css
